.fade-in {
  animation: fadeIn 2s ease-in-out;
}
.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00; /* Confetti color */
  animation: confetti-fall 3s linear infinite;
  top: -10px; /* Start above the screen */
  left: calc(100vw * var(--random)); /* Random horizontal position */
}

#canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}
